// Colours
$text: #335576;
$text-inverse: #FFFFFF;
$text-accent: #000000;
$text-accent-orange: #DB7A4E;
$background-subtle: #FEFAF5;
$background-subtlest: #FFFFFF;
$accent-orange-bolder: #DB7A4E;
$logo-default: #335576;
$border-black:  #000000;
$border-grey: #c0c0c0;
$border-organge:  #DB7A4E;
$primary-button-default: #DB7A4E;
$primary-button-hover: #CB6B48;
$primary-button-active: #B45F40;
$link: #000000;
$link-hover: #4D4D4D;
$link-active: #333333;

// Media queries
$tablet-breakpoint: 634px;
$desktop-breakpoint: 1024px;

