body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  cursor: url("../assets/Icons/plane-up.svg"), auto;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.875rem;
  font-weight: 600;
  color: #335576;
}

.h1-large {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bolder;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 634px) {
  .h1-large {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .h1-large {
    font-size: 4.5rem;
    line-height: 5.75rem;
  }
}

h2, .destination {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #335576;
}

h3 {
  font-size: 0.5625rem;
  line-height: 0.75rem;
  font-weight: 600;
  color: #335576;
  margin: 0;
}

p {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  color: #335576;
  margin: 0;
  text-align: left;
}

a:hover {
  cursor: url("../assets/Icons/plane-up-active.svg"), auto;
}

.button {
  font-size: 1rem;
  line-height: 0.8rem;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #DB7A4E;
  padding: 1rem 0rem;
  text-align: center;
  width: 100%;
  border-radius: 3rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
}
@media screen and (min-width: 634px) {
  .button {
    margin-top: 2rem;
    padding: 1rem 2.25rem;
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .button {
    margin-top: 2rem;
    padding: 1rem 2.25rem;
    width: auto;
  }
  .button:hover {
    background-color: #CB6B48;
    cursor: url("../assets/Icons/plane-up-active.svg"), auto;
  }
  .button:active {
    background-color: #B45F40;
    cursor: url("../assets/Icons/plane-up-active.svg"), auto;
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
}
.site-header__logo {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bolder;
  text-decoration: none;
  color: #335576;
}
.site-header__list {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}
.site-header__item-container {
  list-style-type: none;
  padding: 0rem 0.5rem;
}
.site-header__item {
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .site-header {
    padding: 0.5rem 3.5rem;
  }
  .site-header__logo {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: #335576;
  }
  .site-header__list {
    display: flex;
    flex-direction: row;
  }
  .site-header__item-container {
    padding: 0rem 0.75rem;
  }
  .site-header__item:hover {
    border-bottom: 4px solid #DB7A4E;
    color: #4D4D4D;
    cursor: url("../assets/Icons/plane-up-active.svg"), auto;
  }
  .site-header__item {
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 634px) {
  .site-header {
    padding: 0.5rem 3.5rem;
  }
  .site-header__logo {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: bolder;
    text-decoration: none;
    color: #335576;
  }
  .site-header__item {
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
  background-color: #FEFAF5;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__detial-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer__detial-group > h2, .footer__detial-group > .destination {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.footer__detial-group-header {
  color: #DB7A4E;
  padding-bottom: 0.75rem;
}
.footer__icon {
  height: 1.5rem;
  padding: 0rem 0.5rem;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.75rem 13.75rem;
  }
  .footer__section {
    padding-right: 2.75rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
  }
  .footer__detial-group {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    text-align: left;
  }
  .footer__detial-group-header {
    color: #DB7A4E;
    padding-bottom: 0.75rem;
  }
  .footer__icon-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
  }
  .footer__icon {
    height: 1.5rem;
    padding-right: 2rem;
  }
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem;
  background-color: #FEFAF5;
}
.hero__text-section {
  margin: 0;
  padding-bottom: 1.5rem;
  position: relative;
}
.hero__image-section {
  width: auto;
  text-align: center;
}
.hero__image-section > img {
  width: 70%;
  margin: auto;
}
@media screen and (min-width: 634px) {
  .hero {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    padding: 3.375rem 2.8125rem;
  }
  .hero__text-section {
    width: 50%;
    padding: 0rem 2.8125rem;
    margin: auto;
  }
  .hero__image-section {
    width: 50%;
    padding: 3.375rem 2.8125rem;
  }
  .hero__image-section > img {
    width: 70%;
    margin: auto;
  }
}

.recommendation {
  padding: 2rem;
}
.recommendation__card-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recommendation__card {
  height: 15rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}
.recommendation__card--hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
}
.recommendation__card--iceland {
  background-image: url(../assets/Images/iceland.jpg);
}
.recommendation__card--greece {
  background-image: url(../assets/Images/greece.jpg);
}
@media screen and (min-width: 634px) {
  .recommendation {
    padding: 2rem 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .recommendation {
    padding: 3.375rem 5.625rem;
  }
  .recommendation__card-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    gap: 2.5rem;
  }
  .recommendation__card {
    height: 23.75rem;
    width: 17.5rem;
  }
  .recommendation__card:hover {
    transform: translateY(-1rem);
  }
}

.destination {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  padding: 1.25rem;
}/*# sourceMappingURL=main.css.map */