@import "./partials/mixins";
@import "./partials/variables";
@import "./global.scss";

.main-section{
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--hawaii{
        background-image: url(../assets/Images/hawaii.jpg);
    }

    &--iceland{
        background-image: url(../assets/Images/iceland.jpg);
    }

    &--greece{
        background-image: url(../assets/Images/greece.jpg);
    }

    @include tablet{
        padding: 2rem 5rem;
    }

    @include desktop{
        padding: 4.5rem 5.625rem;
    }
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__card{
        height: auto;
        background-color: white;
        border-radius: 0.3125rem;
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
    }

    &__card > ul{
        padding: 0px;
    }

    &__card-header
    {
        display: block;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: $text-accent;
        border-bottom: 2px solid $border-black;
        margin: 0px 1rem;
    }

    &__card-text
    {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: 1rem 0.5rem;
        font-size: 1rem;
        color: $text-accent;
        background-color: $background-subtle;
    }

    @include tablet{
        &__card{
            padding: 1rem;
        }
    }

    @include desktop{
        display: flex;
        flex-direction: row;
        padding: 2rem 0rem;
        gap: 2.5rem;

        &__card{
            @include card-size-desktop;
            padding: 0.5rem;
        }
    }
}