@import "./partials/mixins";
@import "./partials/variables";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    cursor: url('../assets/Icons/plane-up.svg'), auto;
}

h1{
    font-size: 2.25rem;
    line-height: 2.875rem;
    font-weight: 600;
    color: $text;
}

.h1-large{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: bolder;
    color: $text-inverse;
    margin-top:0;
    margin-bottom: 1.5rem;

    @include tablet{
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    @include desktop{
        font-size: 4.5rem;
        line-height: 5.75rem;
    }
}

h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: $text;
}

h3{
    font-size: 0.5625rem;
    line-height: 0.75rem;
    font-weight: 600;
    color: $text;
    margin: 0;
}

p{
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 400;
    color: $text;
    margin: 0;
    text-align: left;
}

a:hover{
    cursor: url('../assets/Icons/plane-up-active.svg'), auto;
}

.button{
    font-size: 1rem;
    line-height: 0.8rem;
    font-weight: 300;
    color: $text-inverse;
    background-color: $primary-button-default;
    padding: 1rem 0rem;
    text-align: center;
    width: 100%;
    border-radius: 3rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;

    @include tablet{
        margin-top: 2rem;
        padding: 1rem 2.25rem;
        width: auto;
    }

    @include desktop{
        margin-top: 2rem;
        padding: 1rem 2.25rem;
        width: auto;

        &:hover{
            background-color: $primary-button-hover;
            cursor: url('../assets/Icons/plane-up-active.svg'), auto;
        }

        &:active{
            background-color: $primary-button-active;
            cursor: url('../assets/Icons/plane-up-active.svg'), auto;
        }
    }
}

.site-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;

        &__logo{
            @include text-logo-mobile;
        }

        &__list{
            text-decoration: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
        }
        
        &__item-container{
            @include text-nav-list;
            padding: 0rem 0.5rem;

        }

        &__item{
            font-size: 0.75rem;
            line-height: 1rem;
            text-decoration: none;
            color: $link;

            &--bold{
                font-weight: 600;
                color: $primary-button-default;
            }

            &--bold:hover{
                color: $primary-button-hover;
            }
        }

    @include desktop{
        padding: 0.5rem 3.5rem;

        &__logo{
            @include text-logo-desktop;
        }

        &__list{
            display: flex;
            flex-direction: row;
            }
        
        &__item-container{
            padding: 0rem 0.75rem;

        }

        &__item:hover{
            border-bottom: 4px solid $border-organge;
            cursor: url('../assets/Icons/plane-up-active.svg'), auto;
        }

        &__item{
            font-size: 0.875rem;
            line-height: 1.5rem;
            padding-bottom: 0.5rem;

            &--bold{
                color: $primary-button-default;
            }
    
            &--bold:hover{
                color: $primary-button-hover;
            }
        }
    }


    @include tablet{
        padding: 0.5rem 3.5rem;

        &__logo{
            @include text-logo-tablet;
        }
        
        &__item{
            font-size: 0.875rem;
            line-height: 1.5rem;
            padding-bottom: 0.5rem;
        }
    }
}



.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: $background-subtle;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    
    &__detial-group{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__detial-group > h2{
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
    }

    &__detial-group > p{
        text-align: center;
    }

    &__detial-group-header{
        color: $text-accent-orange;
        padding-bottom: 0.75rem;
    }

    &__icon{
        height: 1.5rem;
        padding: 0rem 0.5rem;
    }

    @include desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;    
        padding: 2.75rem 13.75rem;

        &__section{
            padding-right: 2.75rem;
        }

        &__container{
            display: flex;
            flex-direction: row;
        }
        
        &__detial-group{
            display: flex;
            flex-direction: column;
            padding-right: 2rem;
            text-align: left;
        }

        &__detial-group > h2{
            margin-bottom: 2rem;
        }

        &__detial-group > p{
            text-align: left;
        }

        &__detial-group-header{
            color: $text-accent-orange;
            padding-bottom: 0.75rem;
        }

        &__icon-group{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
        }

        &__icon{
            height: 1.5rem;
            padding-right: 2rem;
        }
    }
}
